@font-face {
    font-family: GeneralSansMedium;
    src: url("./GeneralSans-Medium.otf") format("opentype");
}
@font-face {
    font-family: GeneralSansRegular;
    src: url("./GeneralSans-Regular.otf") format("opentype");
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: GeneralSansRegular, sans-serif;
}

html,body{
    width: 100%;
    height: 100%;
}

#minicircle{
    transition: all cubic-bezier(0.165, 0.84, 0.44, 1);
    width: 10px;
    height: 10px;
    position: absolute;
    z-index: 99999;
    border-radius: 50%;
    background-color: white;
}

.bounding{
    width: fit-content;
    overflow: hidden;
}

.bounding .boundingelem{
    transform: translateY(100%);
}

#main{
    width: 100%;
    background-color: black;
}

#header{
    position: relative;
    width: 100%;
    height: 100vh;
    background-color: black;
    color: white;
}

#nav{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 22px 25px;
    color: white;
}

#nav a{
    color: white;
    text-decoration: none;
    font-size: 18px;
}

#heading{
    margin-top: 100px;
}


#heading h1{
    margin-left: 30px;
    opacity: .6;
    font-size: 10.5vw;
    text-transform: uppercase;
    line-height: 1;
    font-weight: 950;
}

#heading #secondh1{
    margin-left: 170px;
}

.blocktext{
    display: flex;
    flex-direction: column;
    align-items: end;
    width: fit-content;
}

.blocktext h5{
    display: flex;
    text-align: right;
    text-transform: uppercase;
}

#note{
    display: flex;
    flex-direction: column;
    align-items: end;
    margin-top: 100px;
    padding-left: 50px;
}

#note h5{
    text-transform: uppercase;
    text-align: right;
    margin-top: .5vw;
}

#mainfooter{
    padding: 0 2vw;
    width: 100%;
    position: absolute;
    text-align: center;
    display: flex;
    justify-content: space-between;
    bottom: 3%;
}

#mainfooter a{
    text-transform: uppercase;
    color: white;
    text-decoration: none;
    font-size: 12px;
    gap: 5px;
}

#mainfooter  #iconset{
    display: flex;
    gap: .3vw;
}

#mainfooter .circle{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: gray;
}

#second{
    padding-right: 10vw;
    padding-left: 2.5vw;
    padding-top: 100px;
    background-color: black;
    width: 100%;
    height: 100vh;
    color: white;
    opacity: 0.9;
}

.elem{
    position: relative;
    border-top: 1px solid #888;
    width: 100%;
    padding: 2.5vw .5vw;
    justify-content: space-between;
    align-items: center;
    display: flex;
    padding-right: 0;
}

.elemlast{
    border-bottom: 1px solid #888;
}

.elem h1{
    text-transform: uppercase;
    font-size: 7.5vw;
    opacity: .7;
}

.elem img{
    display: none;
    height: 100%;
    position: absolute;
    z-index: 999;
}

#about{
    width: 100%;
    background-color: black;
    padding: 10vw 5vw;
    align-items: center;
    position: relative;
    display: flex;
    padding-left: 28vw;
    padding-top: 0;
    color: white;
    gap: 50px;
}

#about img{
    width: 230px;
}

#textabout h5{
    text-transform: uppercase;
    opacity: .5;
    margin-bottom: 10px;
}

#textabout p{
    line-height: 1.7;
    margin-bottom: 30px;
}

#textabout a{
    padding: 12px 22px;
    text-decoration: none;
    color: white;
    border-radius: 100px;
    border: 1px solid white;
    font-size: 12px;
}

#textabout{
    width: 25rem; 
}

#subscribe{
    background-color: black;
    padding: 2vw;
    padding-bottom: 4vw;
    align-items: center;
    text-transform: uppercase;
    color: white;
}

#subscribe h5{
    font-size: 1.0vw;
    opacity: .7;
}

#subscribe h3{
    color: white;
    font-size: 1.0vw;
}

#footer{
    background-color: black;
    text-transform: uppercase;
    justify-content: space-between;
    display: flex;
    font-size: 1.3vw;
    color: white;
    padding: 9px 20px;
}

#leftfooter{
    display: flex;
    gap: 4vw;
    align-items: center;
}

#rightfooter{
    display: flex;
    align-items: right;
    padding: 2vw 3vw;
    justify-content: center;
    gap: 50px;  
}

#rightfooter a{
    color: white;
    text-decoration: none;
    
}